@model IEnumerable<AutoService.WebUI.Entities.Car>

@{
    ViewData["Title"] = "Araçlar";
}

<h1>Araçlar</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Araç Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             Model
            </th>
            <th>
               Renk
            </th>
            <th>
               Fiyat
            </th>
            <th>
                Kasa Tipi
            </th>
            <th>
               Model Yılı
            </th>
            <th>
               Müsait mi?
            </th>
            <th>
               Notlar
            </th>
            <th>
               Plaka
            </th>
            <th>
               Marka
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Id)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
